body {
  background: #ffffff;
  font-family: "Mukta", sans-serif;
  max-width: 100%;
}
:root {
  --primary-color: #005792;
  --secondary-color: #00bbf0;
  --third-color: #fdb44b;
  --forth-color: #00204a;
  --box-shadow: 5px 5px 10px rgba(104, 101, 114, 0.5);
}

.photo {
  display: block;
  margin: 0 auto;
  width: 240px;
  overflow: hidden;
  border-radius: 6px;
}
h1 {
  color: var(--primary-color);
  font-size: 56px;
  font-weight: 600;
}
h2 {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 500;
}
h3 {
  color: var(--forth-color);
  font-size: 18px;
  font-weight: 400;
}
h4 {
  font-size: 28px;
  margin: 0;
  color: var(--secondary-color);
}
h1,
h2,
h3 {
  margin: 0;
}
.container-main {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
.hero {
  background-color: rgba(0, 187, 240, 0.1);
  padding-bottom: 10px;
}
.hero p {
  margin: 20px 30px;
}
.hero .primary-link {
  text-align: center;
}
.media-box {
  display: flex;
  justify-content: space-evenly;
}
p {
  color: var(--forth-color);
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
  margin: 0px 0px 10px 0px;
  text-align: justify;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.navigation-links a {
  margin: 20px;
}
.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.primary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.secondary-link {
  color: var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.secondary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 26px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.contact-link {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}
nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style-type: none;
  line-height: 30px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}
footer .contact-box {
  background: rgba(0, 187, 240, 0.1);
  padding: 40px 60px;
  border-radius: 10px;
  margin: 0 40px 0 40px;
}
footer .contact-box p {
  margin: 0;
}
footer .social-links {
  text-align: center;
  margin-top: 30px;
}
footer .social-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  margin: 0 20px;
  background: rgba(0, 187, 240, 0.1);
  padding: 8px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
}
footer .primary-link {
  vertical-align: middle;
}
@media (max-width: 420px) {
  h3 {
    margin: 0 20px 0 20px;
  }
  .primary-link {
    font-size: 12px;
    text-align: center;
  }
  .container-main {
    padding: 0 20px;
    margin-right: 0;
  }
  nav {
    font-size: 12px;
  }
  .logo {
    max-width: 50px;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer h4 {
    font-size: 16px;
  }
  .container-main img {
    display: flex;
    margin: 0 auto;
  }
  .container-main h2 {
    text-align: center;
  }
  .media-box {
    display: block;
    margin: 0 auto;
  }
}
